.product {
  padding-top: 65px;
  text-align: center;
  padding-bottom: 65px;
}

.product .h2 {
  font-size: 27px;
  font-weight: 400;
}

.product h1 {
  font-size: 55px;
  font-weight: bold;
}

.product .links {
  margin-bottom: 25px;
  font-size: 22px;
}

.product.model-x {
  background-color: #f9f9f9;
}

#logo {
  line-height: 0;
  width: 35px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
  transition: 0.5s;
}

#hero {
  height: 100vh;
}

#scroll-icon {
  font-size: 83px;
  color: white;
  font-weight: 83;
}

@media (min-width: 576px) {
  #model-t-front {
    width: 512px;
    height: auto;
  }
}

@media (min-width: 992px) {
  #model-t-front {
    width: 900px;
    height: auto;
  }
}

@media (min-width: 300px) {
  .model-t {
    width: 76%;
  }
}

